# Topic Modeling with Single LDA Model
Solution: use LDA model for topic model
Source: seed_sample_2000_input.csv

## Source


<img src="images/source-input-seed-2000.png" alt="term-document matrix" style="width: 80%"/>

### Import necessary library

In [4]:
from flask import Flask, request, redirect, render_template, Response, send_file, send_from_directory
from flask_wtf import FlaskForm
from wtforms import SelectMultipleField
from flask_bootstrap import Bootstrap
from os.path import join, dirname, realpath
import pandas as pd
# from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer  # add CountVectorizer for NMF
from sklearn.cluster import KMeans
from sklearn.decomposition import LatentDirichletAllocation
from datetime import datetime
import io, os
import numpy as np

### Import library for stopwords

In [5]:
from sklearn import decomposition
import matplotlib.pyplot as plt
import re
import nltk
from nltk.stem.porter import PorterStemmer
from sklearn.model_selection import train_test_split

In [6]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/shouqiangye/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

### Set DF from csv file
Source 1: <a href="https://github.com/UNCWellington/AI-tools/blob/main/seed_sample_2000_input.csv?raw=true">seed_sample_2000_input.csv</a>  only 2000 rows  

Source 2: <a href="https://github.com/UNCWellington/AI-tools/blob/main/Sample-for-SC.csv?raw=true">Sample-for-SC.csv   </a> nearly 10,000 rows
Note: we shoud add ?raw=true at the end of github link address

In [7]:
url = 'https://github.com/UNCWellington/AI-tools/blob/main/seed_sample_2000_input.csv?raw=true'
# url = 'https://github.com/UNCWellington/AI-tools/blob/main/Sample-for-SC.csv?raw=true'
# df = pd.read_csv(url,index_col=0)
df = pd.read_csv(url, keep_default_na=False)

In [8]:
df.head()

     AN                                                TAB Seed
0  1000  Urban Growth Dynamics and Changing Land-Use La...
1  1001  Reduction in exposure to arsenic from drinking...    1
2  1002  Optimization of phenol adsorption onto biochar...
3  1003  Long-term trends in hydrochemistry in the Para...
4  1004  Application research of crosshole electromagne...

## Stop words, stemming, lemmatization

In [9]:
stemmer = nltk.stem.SnowballStemmer('english')
nltk.download('stopwords')
stopwords = set(nltk.corpus.stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/shouqiangye/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## Data Processing

Next, scikit learn has a method that will extract all the word counts for us

In [10]:
documents = df['TAB'].values.astype("U")

In [356]:
documents

array(['Urban Growth Dynamics and Changing Land-Use Land-Cover of Megacity Kolkata and Its Environs Spatio-temporal land-use land-cover changes have a long-term impact on urban environments. The present study is based on land-use land-cover changes and urban expansion of megacity Kolkata and its environs over three decades (1991-2018) using multitemporal Landsat data. The study aims to explore and explain the spatio-temporal land-use land-cover change, areal differentiation, spatio-temporal urban growth trajectory and future land-use land-cover prediction with population projection. The spatio-temporal representation found rapid urbanization, i.e. 19% to 57%, exactly three times as in 1991, resulting in significant loss of other than urban/built-up area. Urban trajectory reveals that the expansion mainly occurred in north-east to south-west direction, the zone of both sides of River Hooghly. Areal differentiation map with highest urbanization (3146 ha or UII = 0.64) was identified in the north-north-west part, while least urbanization was identified in the east-north-east direction. On the other hand, this urbanization has grabbed most (i.e. 87%) of the areas within 5-km ring buffer compared to other three ring buffers. Being Kolkata as a traditional city, it has all modern facilities since British rule; as a result, the high population growth and rapid urban expansion were explored in the study. Therefore, urban growth led to radical changes in land-use land-cover, which were witnessed by sharp decreases in sparse vegetation and fallow land. The correlation explained that increasing urbanization has decreased the amount of water body and vegetation. The future prediction graph identified the more horrible picture: the city and its environs will be covered by 67% built-up, while there will be only 3% water body, 14% vegetation and 16% fallow land of the total geographical area with a population (projection) of 28 million in 2051 if it is continued. Such expansion will create a wide range of mismanagement and environmental problems. Hence, the intensive explanation and areal differentiation maps and diagrams prepared using geospatial data will definitely help to understand the urban growth dynamics process and changing form of land-use land-cover and simultaneously decision-making process of the local planners, stakeholders and academicians. Therefore, it also guides to future planning to decrease the adverse effects of urbanization and result in the form of land-use land-cover and makes an eco-friendly megacity as well as sustainable urban development too.',
       'Reduction in exposure to arsenic from drinking well-water in Bangladesh limited by insufficient testing and awareness This study considers potential policy responses to the still very high levels of exposure to arsenic (As) caused by drinking water from shallow tubewells in rural Bangladesh. It examines a survey of 4,109 households in 76 villages of Araihazar upazila conducted two years after a national testing campaign swept through the area. The area is adjacent to the region where a long-term study was initiated in 2000 and where households are periodically reminded of health risks associated with well-water elevated in As. Results confirm that testing spurs switching away from unsafe wells, although the 27% fraction who switched was only about half of that in the long-term study area. By village, the fraction of households that switched varied with the availability of safe wells and the distance from the long-term study area. Lacking follow-up testing, two years only after the campaign 21% of households did not know the status of their well and 21% of households with an unsafe well that switched did so to an untested well. Well testing is again urgently needed in Bangladesh and should be paired with better ways to raise awareness and the installation of additional deep community wells.',
       'Optimization of phenol adsorption onto biochar from oil palm empty fruit bunch (EFB) Malaysia, as one of the leading palm oil producers in the world faces problems in disposal of oil palm empty fruit bunch (EFB), which can be converted into various value-added products, including adsorbents. This study investigated the adsorption of phenol from its solution using biochar produced from EFB through carbonization. Response Surface Methodology (RSM) with Box-Behnken design was used to investigate the effects of three parameters (temperature, time and heating rate) during carbonization on phenol removal by the biochar produced. This was followed by process optimization based on statistical analysis. The results indicated that the optimized carbonization conditions were; 500 degrees C for temperature, 10 degrees C/min of heating rate and 80 min for reaction tim which led to 7.57% of phenol removal. SEM revealed coarse and uneven surface of the biochar surface, with small degree of pore development. Comparison between FTIR spectrum of EFB and biochar revealed the loss water and hydroxyl compounds from EFB during carbonization. The lack of oxygenated groups (especially carbonyl groups) on the adsorbent surface as well as limited number of pores were the possible reasons leading to low phenol adsorption by biochar, therefore conversion of the biochar to activated carbon was necessary for higher adsorption performance.',
       ...,
       'A Quantitative Process-Based Inventory Study on Material Embodied Carbon Emissions of Residential, Office, and Commercial Buildings in China Studies on building carbon emissions focus mainly on the materialization phase of life cycle, as carbon emissions in this stage is intensive and high. This paper proposes a simplified model to calculate embodied carbon emissions in building design stage by conducting a process-based inventory analysis of carbon emissions from materials used in 129 residential buildings, 41 office buildings, and 21 commercial buildings during materialization phase. The results indicate that average carbon emissions per unit area from building materials used in residential buildings, office buildings, and commercial buildings are 514.66 kgCO(2)e/m(2), 533.69 kgCO(2)e/m(2) and 494.19 kgCO(2)e/m(2), respectively. Besides, ten kinds of building materials (namely, steel, commercial concrete, wall building materials, mortar, copper core cables, architectural ceramics, PVC pipes, thermal insulation materials, doors and windows, and water paint) constitute 99% of total carbon emissions in all three types of buildings. These materials are major carbon emissions sources in materialization phase. Thus, embodied carbon emissions can be significantly reduced by limiting the amount of these materials in architectural design as well as by using environmental friendly materials.',
       'Treatment of Low Biodegradability Leachates in a Serial System of Aged Refuse-Filled Bioreactors This paper presents a technology based on the use of aged refuse that has proven to be highly effective in the treatment of low biodegradability leachates. The tests were developed using two filled bioreactors arranged in series and operated at steady state. The aged refuse used as filling material was extracted from a city located in the southeast of Mexico and characterized by particle size, humidity, volatile solids, and volumetric weight. On the other hand, bacterial characterization made it possible to identify the presence of species related to the degradation and mineralization of organic compounds, as well as to processes of nitrification or reduction of phosphates and Cr (VI). The bioreactor system was operated under four hydraulic loads (10, 20, 35, and 50 L/m(3)d). Maximum removal efficiencies of 85, 86.1, 87.9, 98.6, 97.8, and 97.4% were achieved in COD, BOD5, Color, TP, TN, and N-NH3, respectively, complying with Mexican regulations (NOM-001-SEMARNAT-1996). The system also proved to be stable against shock loads, such as organic load fluctuations in the influent or pH variations. The results of this study show that, in countries such as Mexico, aged refuse extracted from landfills represents a promising option as a sustainable alternative for leachate treatment.',
       "The regulatory role of endogenous iron on greenhouse gas emissions under intensive nitrogen fertilization in subtropical soils of China Anaerobic batch experiments were conducted to study the regulatory role of endogenous iron in greenhouse gas emissions under intensive nitrogen fertilization in subtropical soils of China. Fe(2+), Fe(3+), and NO(3)(-)-N dynamics and N(2)O, CH(4), and CO(2) emissions, as well as the relationships between N fertilizer, endogenous iron, and greenhouse gas emissions were investigated. The emissions of N(2)O increased to different extents from all the test soils by N1 (260Â\xa0mgÂ\xa0NÂ\xa0kg(-1)) application compared with N0. After 24Â\xa0days of anaerobic incubation, the cumulative emissions of N(2)O from red soils in De'an (DR) were significantly higher than that from paddy soils in De'an (DP) and Qujialing (QP) under N1. However, N application enhanced CH(4) and CO(2) emissions from the red soils slightly but inhibited the emissions from paddy soils. The maximal CH(4) and CO(2) emission fluxes occurred in DP soil without N input. Pearson's correlation analysis showed that there were significant correlations (Pâ€‰<â€‰0.01) between Fe(2+) and Fe(3+), NO(3)(-)-N, (N(2)O + N(2))-N concentrations in DP soil, implying that Fe(2+) oxidation was coupled with nitrate reduction accompanied by (N(2)O + N(2))-N emissions and the endogenous iron played a regulatory role in greenhouse gas emissions mainly through the involvement in denitrification. The proportion of the electrons donated by Fe(2+) used for N(2)O production in denitrification in DP soil was approximately 37.53%. Moreover, positive correlations between Fe(2+) and CH(4), CO(2) were found in both DR and QP soils, suggesting that endogenous iron might regulate the anaerobic decomposition of organic carbon to CH(4) and CO(2) in the two soils. Soil pH was also an important factor controlling greenhouse gas emissions by affecting endogenous iron availability and C and N transformation processes."],
      dtype='<U10293')

In [357]:
# vectorizer = TfidfVectorizer(stop_words=stopwords, ngram_range=(1, 2))
#features = vectorizer.fit_transform(documents)

### Generate TF-IDF Features
In this step, you will generate the TF-IDF matrix for given documents. Here, you will also perform preprocessing operations such as tokenization, and removing stopwords.

In [ ]:
# Initialize regex tokenizer
"""
tokenizer = RegexpTokenizer(r'\w+')

# Vectorize document using TF-IDF
tfidf = TfidfVectorizer(lowercase=True,
                        stop_words='english',
                        ngram_range = (1,1),
                        tokenizer = tokenizer.tokenize)

# Fit and Transform the documents
train_data = tfidf.fit_transform(documents_list)  
"""

In [11]:
vectorizer = TfidfVectorizer(stop_words=stopwords, ngram_range=(1, 3))
features = vectorizer.fit_transform(documents)

### Perform LDA
Scikit-learn offers LatentDirichletAllocation for performing LDA on any Document Term Matrix(DTM). Let’s see the example below(This example will take approx 25 mins on the local machine with 8GB RAM):

In [12]:
"""
# Define the number of topics or components
num_components=5

# Create LDA object
model=LatentDirichletAllocation(n_components=num_components)

# Fit and Transform SVD model on data
lda_matrix = model.fit_transform(train_data)

# Get Components 
lda_components=model.components_
"""

'\n# Define the number of topics or components\nnum_components=5\n\n# Create LDA object\nmodel=LatentDirichletAllocation(n_components=num_components)\n\n# Fit and Transform SVD model on data\nlda_matrix = model.fit_transform(train_data)\n\n# Get Components \nlda_components=model.components_\n'

In [13]:
k = 10
length = 1

In [19]:
# model = KMeans(n_clusters=k, init='k-means++', max_iter=int(length), n_init=1, verbose=0, random_state=3425)
# Create LDA object
model=LatentDirichletAllocation(n_components=k, learning_method="online", max_iter=int(length), random_state=3425)

In [22]:
# model.fit(features)
model.fit_transform(features)

array([[0.00448134, 0.27985556, 0.00448136, ..., 0.00448135, 0.68429361,
        0.00448135],
       [0.00562098, 0.00562091, 0.00562099, ..., 0.00562093, 0.50974521,
        0.00562096],
       [0.00552994, 0.00552989, 0.00552993, ..., 0.00552994, 0.45348797,
        0.50227267],
       ...,
       [0.00599173, 0.00599174, 0.00599175, ..., 0.00599173, 0.94607439,
        0.00599173],
       [0.00527423, 0.00527422, 0.00527422, ..., 0.00527423, 0.95253195,
        0.00527423],
       [0.00554379, 0.00554378, 0.00554378, ..., 0.00554378, 0.95010594,
        0.00554379]])

In [27]:
# Get Components 
lda_components=model.components_
lda_components

array([[0.1712602 , 0.19918397, 0.19255022, ..., 0.17154456, 0.1779624 ,
        0.17189322],
       [0.17576739, 0.17803867, 0.18975948, ..., 0.18817151, 0.17776708,
        0.19732881],
       [0.19616406, 0.18645249, 0.19928438, ..., 0.18297267, 0.18351629,
        0.1884843 ],
       ...,
       [0.22930171, 0.17722299, 0.17513556, ..., 0.19954192, 0.17143725,
        0.18683724],
       [1.16175455, 0.21597088, 0.21564616, ..., 0.20660812, 0.19862432,
        0.20956879],
       [0.19679141, 0.18898786, 0.19937852, ..., 0.20176634, 0.1832806 ,
        0.19183786]])

### See the dominant topic in each document

In [53]:
# colnames = ["Topic" + str(i) for i in range(lda_components)]
colnames = ["Topic" + str(i) for i in range(10)]
docnames = df['AN']
# Create Document - Topic Matrix
# lda_output = model.transform(features)
data_vectorized = model.fit_transform(features)

df_doc_topic = pd.DataFrame(np.round(data_vectorized, 2), columns=colnames, index=docnames)
significant_topic = np.argmax(df_doc_topic.values, axis=1)
df_doc_topic['dominant_topic'] = significant_topic

In [55]:
df_doc_topic

,Topic0,Topic1,Topic2,Topic3,Topic4,Topic5,Topic6,Topic7,Topic8,Topic9,dominant_topic
AN,,,,,,,,,,,
1000,0.00,0.28,0.00,0.00,0.00,0.00,0.00,0.00,0.68,0.00,8
1001,0.01,0.01,0.01,0.01,0.01,0.01,0.45,0.01,0.51,0.01,8
1002,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.45,0.50,9
1003,0.00,0.00,0.41,0.00,0.00,0.00,0.00,0.00,0.55,0.00,8
1004,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.47,0.49,0.00,8
...,...,...,...,...,...,...,...,...,...,...,...
2994,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.96,0.00,8
2995,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.96,0.00,8
2996,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.95,0.01,8
2997,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.95,0.01,8
2998,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.95,0.01,8

In [41]:
df['Topic'] = significant_topic

In [48]:
terms = vectorizer.get_feature_names()
df2 = pd.DataFrame()
for index, component in enumerate(lda_components):
    subset_df = df[df.Topic == index].shape[0]
    
    zipped = zip(terms, component)
    top_terms_key=sorted(zipped, key = lambda t: t[1], reverse=True)[:7]
    top_terms_list=list(dict(top_terms_key).keys())
    print("Topic "+str(index)+": ",top_terms_list)
    data = {'Cluster Number': index, 
            'Number of Items': subset_df,
            'Top Cluster Terms': top_terms_list}

    df2 = df2.append(data, ignore_index=True)

/Users/shouqiangye/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

Topic 0:  ['water', 'climate', 'change', 'soil', 'climate change', 'hydrogel', 'stress']
Topic 1:  ['water', 'toch', 'so2', 'mg', 'cover', 'rock', 'water harvesting']
Topic 2:  ['oil', 'water', 'args', 'cnts', 'paleosols', 'reservoir', 'samples']
Topic 3:  ['arsenic', 'groundwater', 'basin', 'nutrient', 'stress drop', 'intercropping', 'fetal']
Topic 4:  ['arsenic', 'snow', 'water', 'mass', 'arsenic poisoning drinking', 'adaptation', 'acetaldehyde']
Topic 5:  ['nitration', 'forest', 'thinning', 'acrylamide', 'water', 'paddy soils', 'tektites']
Topic 6:  ['arsenic', 'water', 'health', 'community', 'drinking', 'soil', 'sanitation']
Topic 7:  ['adsorption', 'removal', 'dye', 'water', 'adsorbents', 'adsorbent', 'fe']
Topic 8:  ['water', 'groundwater', 'arsenic', 'soil', 'study', 'quality', 'drinking']
Topic 9:  ['dgm', 'plumes', 'water', 'cattle loans', 'cattle', 'bi dao', 'dao']

In [44]:
df_doc_topic

,Topic0,Topic1,Topic2,Topic3,Topic4,Topic5,Topic6,Topic7,Topic8,Topic9,dominant_topic
AN,,,,,,,,,,,
1000,0.00,0.28,0.00,0.00,0.00,0.00,0.00,0.00,0.68,0.00,8
1001,0.01,0.01,0.01,0.01,0.01,0.01,0.45,0.01,0.51,0.01,8
1002,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.45,0.50,9
1003,0.00,0.00,0.41,0.00,0.00,0.00,0.00,0.00,0.55,0.00,8
1004,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.47,0.49,0.00,8
...,...,...,...,...,...,...,...,...,...,...,...
2994,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.96,0.00,8
2995,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.96,0.00,8
2996,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.95,0.01,8
2997,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.95,0.01,8
2998,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.95,0.01,8

In [49]:
df2

,Cluster Number,Number of Items,Top Cluster Terms
0,0.0,50.0,"[water, climate, change, soil, climate change,..."
1,1.0,10.0,"[water, toch, so2, mg, cover, rock, water harv..."
2,2.0,20.0,"[oil, water, args, cnts, paleosols, reservoir,..."
3,3.0,8.0,"[arsenic, groundwater, basin, nutrient, stress..."
4,4.0,9.0,"[arsenic, snow, water, mass, arsenic poisoning..."
5,5.0,9.0,"[nitration, forest, thinning, acrylamide, wate..."
6,6.0,26.0,"[arsenic, water, health, community, drinking, ..."
7,7.0,46.0,"[adsorption, removal, dye, water, adsorbents, ..."
8,8.0,1814.0,"[water, groundwater, arsenic, soil, study, qua..."
9,9.0,7.0,"[dgm, plumes, water, cattle loans, cattle, bi ..."

### Concat df and df2 to final result

In [50]:
result = pd.concat([df, df2], axis=1)

In [51]:
result

,AN,TAB,Seed,Topic,Cluster Number,Number of Items,Top Cluster Terms
0,1000,Urban Growth Dynamics and Changing Land-Use La...,,8,0.0,50.0,"[water, climate, change, soil, climate change,..."
1,1001,Reduction in exposure to arsenic from drinking...,1,8,1.0,10.0,"[water, toch, so2, mg, cover, rock, water harv..."
2,1002,Optimization of phenol adsorption onto biochar...,,9,2.0,20.0,"[oil, water, args, cnts, paleosols, reservoir,..."
3,1003,Long-term trends in hydrochemistry in the Para...,,8,3.0,8.0,"[arsenic, groundwater, basin, nutrient, stress..."
4,1004,Application research of crosshole electromagne...,,8,4.0,9.0,"[arsenic, snow, water, mass, arsenic poisoning..."
...,...,...,...,...,...,...,...
1994,2994,"Geology, fluid inclusions, and H-O-S-Pb isotop...",,8,NaN,NaN,NaN
1995,2995,Sex-Specific Associations between One-Carbon M...,,8,NaN,NaN,NaN
1996,2996,A Quantitative Process-Based Inventory Study o...,,8,NaN,NaN,NaN
1997,2997,Treatment of Low Biodegradability Leachates in...,,8,NaN,NaN,NaN
1998,2998,The regulatory role of endogenous iron on gree...,,8,NaN,NaN,NaN

In [52]:
result.head(10)

,AN,TAB,Seed,Topic,Cluster Number,Number of Items,Top Cluster Terms
0,1000,Urban Growth Dynamics and Changing Land-Use La...,,8,0.0,50.0,"[water, climate, change, soil, climate change,..."
1,1001,Reduction in exposure to arsenic from drinking...,1,8,1.0,10.0,"[water, toch, so2, mg, cover, rock, water harv..."
2,1002,Optimization of phenol adsorption onto biochar...,,9,2.0,20.0,"[oil, water, args, cnts, paleosols, reservoir,..."
3,1003,Long-term trends in hydrochemistry in the Para...,,8,3.0,8.0,"[arsenic, groundwater, basin, nutrient, stress..."
4,1004,Application research of crosshole electromagne...,,8,4.0,9.0,"[arsenic, snow, water, mass, arsenic poisoning..."
5,1005,An environmentally-friendly integrated seismic...,,8,5.0,9.0,"[nitration, forest, thinning, acrylamide, wate..."
6,1006,Risk of arsenic-related skin lesions in Bangla...,1,9,6.0,26.0,"[arsenic, water, health, community, drinking, ..."
7,1007,Proposal of an irrigation water quality index ...,,8,7.0,46.0,"[adsorption, removal, dye, water, adsorbents, ..."
8,1008,Spatial variation and quantitative screening l...,,8,8.0,1814.0,"[water, groundwater, arsenic, soil, study, qua..."
9,1009,"Removal of hazardous dyes, toxic metal ions an...",,8,9.0,7.0,"[dgm, plumes, water, cattle loans, cattle, bi ..."